:global {
  @import 'base';
  @import '~ress';
  @import '~prism-themes/themes/prism-xonokai';
  @import '~github-markdown-css';
  @import '~codemirror/lib/codemirror';
  @import 'vendor/monokai-bright';

  html, body {
    height: 100%;
  }

  .markdown-body {
    pre {
      background-color: $code-background;
      font-size: 1.2em;
    }
  }

  html {
    [type='button'] {
      appearance: none;
    }

    button {
      &[type='button'] {
        appearance: button;
      }
    }
  }
}
