:global {
  @import 'base';
  @import '~ress';
  @import 'vendor/monokai-bright';

  html,
  body {
    height: 100%;
  }

  .markdown-body {
    pre {
      background-color: $code-background;
    }
  }

  span {
    &[type='button'] {
      appearance: none;
    }
  }
}
