doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    title Juice
    link(rel='manifest', href='/manifest.webmanifest')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300,500')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    base(href='/')
  body
    #root(style='height: 100%')
    script(src='https://cdn.polyfill.io/v2/polyfill.min.js' defer=true)
    script(src!='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit', async=true, defer=true)
